# API & Database

DB_USER=mnemosyne
DB_PASSWORD=mnemosyne_password
DB_NAME=mnemosyne
API_KEYS=key1,key2,key3

# Raspberry Pi & Emulator

API_URL=http://localhost:5042
API_KEY=key1
SERIAL_PORT=/dev/ttyACM0
